<head>
    {% include meta.html %}
    <!--<link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/github-markdown.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/blog.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygments.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-theme.min.css" />
    <link rel="shortcut icon" type="image/png" href="/images/favicon.jpg">
    <title> {{page.title}}</title>
</head>
